* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --color-text: #ffffff;
    --color-placeholder: rgba(255, 255, 255, 0.5);
    --color-additional: #93b1ff;
    --color-additional7: rgba(147, 177, 255, 0.7);
    --background-color-calendar: #3a3e42;
    --background-color-calendar-header: #575c63;
    --images-arrow: url('./image/arrow.svg');
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date__container {
    background-color: var(--background-color-calendar);
    font-size: 20px;
    color: var(--color-text);
    border-radius: 15px;
    padding: 5px 25px;
    margin-bottom: 15px;
}

.calendar {
    width: 250px;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: var(--background-color-calendar);
}

.calendar__header {
    position: relative;
    border-radius: 5px 5px 0 0;
    background-color: var(--background-color-calendar-header);
    color: var(--color-text);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2);
}

.calendar__header-clickable {
    font-size: 20px;
    cursor: pointer;
}

.calendar__arrow-left {
    width: 5px;
    height: 10px;
    cursor: pointer;
    background-image: var(--images-arrow);
}

.calendar__arrow-right {
    width: 5px;
    height: 10px;
    cursor: pointer;
    background-image: var(--images-arrow);
    transform: rotate(-180deg);
}


.calendar__body {
    border-radius: 0 0 5px 5px;
    padding: 5px;
}

.calendar__week-names {
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-additional);
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px 2px;
}

.calendar__days {
    font-size: 18px;
    font-weight: 300;
    color: var(--color-text);
    text-align: center;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 2px 2px;
}

.calendar__day {
    border-radius: 5px;
    padding: 5.5px 0px;
    cursor: pointer;
}

.calendar__day:hover {
    background-color: var(--color-additional7);
}

.calendar__additional-day {
    padding: 5.5px;
    font-weight: 300;
    cursor: pointer;
    color: var(--color-placeholder);
}

.calendar__pick-item {
    padding: 9px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.calendar__pick-item:hover {
    background-color: var(--color-additional7);
}

.calendar__today-item {
    background-color: var(--background-color-calendar-header);
}

.calendar__selected-item {
    color: var(--color-text);
    background-color: var(--color-additional);
}

.calendar__selected-item:hover {
    background-color: var(--color-additional);
}

.pick-items__container {
    font-weight: 400;
    color: var(--color-text);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px 1px;
    font-size: 18px;
}

.calendar__unchoosable-year {
    font-weight: 300;
    padding: 9px 16px;
    color: var(--color-placeholder);
}

.change-language {
    background-color: var(--background-color-calendar);
    color: white;
    font-size: 20px;
    color: var(--color-text);
    margin-bottom: 10px;
}